*.swp
#*
.emacs.d/elpa/
.emacs.d/url/
.emacs.d/bookmarks
.emacs.d/magithub/
.emacs.d/var/
.emacs.d/.#recentf
.emacs.d/#recentf#
/fish/fishd.a0999b028ce9
/fish/functions/test.py
/fish/functions/z.awk
/fish/functions/zadd.awk
/fish/functions/zclean.awk
fish/fishd*
quicklisp.lisp
ranger/bookmarks
ranger/history
/xrandr/#work-screens.sh#
/.emacs.d/.#functions.el
/.emacs.d/custom.el
/.gitconfig
*.el#
*.py#
*.fish#
/.emacs.d/recentf
/.emacs.d/projectile.cache
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/init/databases.el
/.emacs.d/forge-database.sqlite
/.emacs.d/transient/history.el
/fish/fish_variables
/.emacs.d/.lsp-session-v1
.emacs.d/tramp
/.emacs.d/elpy/
/.emacs.d/.cache/
/fish/completions/*.fish
/.emacs.d/semanticdb/
/.emacs.d/recentf~
/.emacs.d/org-clock-save.el
/.emacs.d/auto-save-list/
/.emacs.d/.last-package-update-day
*~
/.emacs.d/init/cheatsheets.el
/.emacs.d/init/org-kasten.el
./private-scripts/
/private-scripts/puppet-envs
/.emacs.d/projects
/.emacs.d/quelpa/melpa/
/.emacs.d/eln-cache/
/.emacs.d/quelpa/
/home-manager/userdata.nix
