# vim: st=2:ts=2:et

[core]
  excludesfile = ~/.gitignore-global
	editor = /usr/bin/vim

[user]
	name = Az
  email = az4reus@gmail.com

[log]
  date = relative

[merge]
  tool = vimdiff

[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags
