# vim: st=2:ts=2:et

[core]
  excludesfile = ~/.gitignore
	editor = /usr/bin/vim

[user]
	name = Az
  email = az4reus@gmail.com

[core]
  editor = vim
  excludesfile = "~/.gitignore"

[fetch]
  prune = true

[rebase]
  autostash = true

[pull]
  rebase = true

[push]
  default = simple

[log]
  date = relative

[merge]
  tool = vimdiff

[init]
	templatedir = ~/.git_template

[alias]
	ctags = !.git/hooks/ctags
