*.swp
#*
.emacs.d/elpa/
.emacs.d/url/
.emacs.d/bookmarks
.emacs.d/magithub/
.emacs.d/var/
.emacs.d/.#recentf
.emacs.d/#recentf#
/fish/fishd.a0999b028ce9
/fish/functions/test.py
/fish/functions/z.awk
/fish/functions/zadd.awk
/fish/functions/zclean.awk
/fish/fishd.thinkpad-reindlaz
/fish/functions/
/fish/handwritten-functions/aws*
fish/fishd*
quicklisp.lisp
ranger/bookmarks
ranger/history
/xrandr/#work-screens.sh#
/.emacs.d/.#functions.el
/.emacs.d/custom.el
/.gitconfig
*.el#
*.py#
*.fish#
/.emacs.d/recentf
/.emacs.d/projectile.cache
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/init/databases.el
/.emacs.d/forge-database.sqlite
/.emacs.d/transient/history.el
/fish/fish_variables
